/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/  
body {
    font-family: "Poppins", sans-serif;
    color: #444444;
  }
  
  a {
    color: #ffb03b;
  }
  
  a:hover {
    color: #ffc56e;
    text-decoration: none;
  }
  
  h1,
  h2,
  h5,
  h3,
  h4,
  h6 {
      font-size: 45px;
      font-weight: 700;
      color: #ff9b08;
    font-family: "Satisfy",sans-serif;
  }
  
 
  /*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
  .back-to-top {
    position: fixed;
    display: none;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
  }
  
  .back-to-top i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #ffb03b;
    color: #fff;
    transition: all 0.4s;
  }
  
  .back-to-top i:hover {
    background: #ffa012;
    color: #fff;
  }
  
  /*--------------------------------------------------------------
  # Top Bar
  --------------------------------------------------------------*/
  #topbar {
    padding: 0;
    font-size: 15px;
    height: 50px;
    transition: all 0.5s;
    background: rgba(26, 24, 22, 0.8);
    color: rgba(255, 255, 255, 0.7);
  }
  
  #topbar.topbar-transparent {
    background: rgba(26, 24, 22, 0.8);
  }
  
  #topbar.topbar-scrolled {
    top: -50px;
  }
  
  #topbar i {
    color: #ffb03b;
  }
  
  #topbar i+i {
    margin-left: 15px;
  }
  
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    top: 50px;
    height: 70px;
    z-index: 997;
    transition: all 0.5s;
    padding: 10px 0;
    background: rgba(26, 24, 22, 0.85);
  }
  
  #header.header-transparent {
    background: rgba(26, 24, 22, 0.8);
  }
  
  #header.header-scrolled {
    top: 0;
    background: rgba(26, 24, 22, 0.85);
  }
  
  #header .logo h1 {
    font-size: 28px;
    margin: 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 3px;
  }
  
  #header .logo h1 a,
  #header .logo h1 a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  #header .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
  }
  
  @media (max-width: 992px) {
    #header {
      top: 0;
      background: rgba(26, 24, 22, 0.85);
    }
  }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /* Desktop Navigation */
  .nav-menu,
  .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
    float: left;
  }
  
  .nav-menu a {
    display: block;
    position: relative;
    color: white;
    padding: 9px 14px;
    transition: 0.3s;
    font-size: 15px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
  }
  
  
  .nav-menu a:hover,
  .nav-menu .active>a,
  .nav-menu li:hover>a {
    color: #ffb03b;
    text-decoration: none;
  }
  
  .nav-menu .dropdown .dropdown-menu a {
   color: #000;
  }
  
  .nav-menu .dropdown .dropdown-menu a:hover,
  .nav-menu .dropdown .dropdown-menu .active>a,
  .nav-menu .dropdown .dropdown-menu li:hover>a {
    color: #ffb03b;
    text-decoration: none;
  }
   
  
  .nav-menu .book-a-table a {
    background: #ffb03b;
    color: #fff;
    border-radius: 50px;
    margin: 0 0 0 20px;
    padding: 10px 25px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.3s;
  }
  
  .nav-menu .book-a-table a:hover {
    background: #ffa012;
    color: #fff;
  }
  
  .nav-menu .book-a-table1 a {
    background: #ffffff;
    color: #ffb03b;
    border-radius: 50px;
    margin: 0 0 0 20px;
    padding: 10px 25px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.3s;
  }
  
  .nav-menu .book-a-table1 a:hover {
    background: #ffa012;
    color: #fff;
  }
  
  .nav-menu .drop-down ul {
    display: block;
    position: absolute;
    left: 15px;
    top: calc(100% + 30px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0px 0px 20px rgba(18, 66, 101, 0.1);
    transition: 0.3s;
    border-radius: 5px;
  }
  
  .nav-menu .drop-down:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
  .nav-menu .drop-down li {
    min-width: 180px;
    position: relative;
  }
  
  .nav-menu .drop-down ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: #433f39;
  }
  
  .nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
    color: #ff9b08;
  }
  
  .nav-menu .drop-down > a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 5px;
  }
  
  .nav-menu .drop-down .drop-down ul {
    top: 0;
    left: calc(100% - 30px);
  }
  
  .nav-menu .drop-down .drop-down:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
  }
  
  .nav-menu .drop-down .drop-down > a {
    padding-right: 35px;
  }
  
  .nav-menu .drop-down .drop-down > a:after {
    content: "\eaa0";
    font-family: IcoFont;
    position: absolute;
    right: 15px;
  }
  
  
  /* Mobile Navigation */
  .mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
  }
  
  .mobile-nav-toggle i {
    color: #fff;
  }
  
  .mobile-nav {
    position: fixed;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    z-index: 9999;
    overflow-y: auto;
    background: #fff;
    transition: ease-in-out 0.2s;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    padding: 10px 0;
  }
  
  .mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .mobile-nav a {
    display: block;
    position: relative;
    color: #433f39;
    padding: 10px 20px;
    font-weight: 500;
    outline: none;
  }
  
  .mobile-nav a:hover,
  .mobile-nav .active>a,
  .mobile-nav li:hover>a {
    color: #F37121;
    text-decoration: none;
  }
  
  .mobile-nav .book-a-table a {
    background: #F37121;
    color: #fff;
    border-radius: 50px;
    margin: 0 0 0 20px;
    padding: 10px 25px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.3s;
    display: inline-block;
  }
  
  .mobile-nav .book-a-table a:hover {
    background: #fc8210;
    color: #fff;
  }
  
  .mobile-nav .drop-down>a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 10px;
    position: absolute;
    right: 15px;
  }
  
  mobile-nav .drop-down > a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 10px;
    position: absolute;
    right: 15px;
  }
  
  .mobile-nav .active.drop-down > a:after {
    content: "\eaa1";
  }
  
  .mobile-nav .drop-down > a {
    padding-right: 35px;
  }
  
  .mobile-nav .drop-down ul {
    display: none;
    overflow: hidden;
  }
  
  .mobile-nav .drop-down li {
    padding-left: 20px;
  }
  
  .mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(39, 37, 34, 0.6);
    overflow: hidden;
    display: none;
    transition: ease-in-out 0.2s;
  }
  
  .mobile-nav-active {
    overflow: hidden;
  }
  
  .mobile-nav-active .mobile-nav {
    opacity: 1;
    visibility: visible;
  }
  
  .mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
  }


/* Testimonials Section
--------------------------------*/
#testimonials {
    padding-top: 200px;
  }
  
  #testimonials .section-header {
    margin-bottom: 40px;
  }
  
  @media (max-width: 767px) {
    #testimonials {
      padding-top: 160px;
    }

    #testimonials .testimonial-item {
      text-align: center;
    }
  }

  #testimonials .testimonial-item{
      padding-bottom: 40px;
  }
  
  #testimonials .testimonial-item .testimonial-img {
    width: 120px;
    border-radius: 50%;
    border: 4px solid #fff;
    float: left;
  }
  
  @media (max-width: 767px) {
    #testimonials .testimonial-item .testimonial-img {
      float: none;
      margin: auto;
    }
  }
  
  #testimonials .testimonial-item h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #111;
    margin-left: 140px;
    font-family:sans-serif;
  }
  
  #testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #999;
    margin: 0 0 15px 0;
    margin-left: 140px;
    font-family:sans-serif;
  }
  
  #testimonials .testimonial-item p {
    font-style: italic;
    font-weight: 500;
    margin: 0 0 15px 140px;
  }
  
  @media (min-width: 992px) {
    #testimonials .testimonial-item p {
      width: 80%;
    }
  }
  
  @media (max-width: 767px) {
    #testimonials .testimonial-item h3, #testimonials .testimonial-item h4, #testimonials .testimonial-item p {
      margin-left: 0;
    }
  }
  
  .quote-icon-left, .quote-icon-right{
    font-size: 16px;
  }

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
  background: #35322d;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
  position: relative;
}

#footer .footer-top {
  position: relative;
  ;
  background:#46423b;
  border-bottom: 1px solid #46423b;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #fff;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
 
  color: #feb03d;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 5px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #feb03d;
  color: #fff;
  text-decoration: none;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}
.footer-newsletter .icofont-envelope ,.footer-newsletter .icofont-phone{
  color: #ffb03b;
 }
 #footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 10px 0 0;
  display: inline-block;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  color: #feb03d;
}
#footer .policies .footer-links ul {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links ul li {
  padding: 10px 10px 0 0;
  display: inline-block;
  align-items: center;
}

.footer-links ul li:first-child {
  padding-top: 0;
}

.footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

.footer-links ul a:hover {
  color: #feb03d;
}

#footer .copyright {
  text-align: center;
  padding-top: 10px;
}